/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.text-field {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 3px;
    -fx-border-style: solid;
}
.side-bar {
    -fx-background-color: rgb(255,255,255);
    -fx-border-right-color: rgb(0, 0, 0);
    -fx-border-right-width: 3px;
    -fx-border-right-style: solid;
}