@import "cores.css";

.mainFxmlClass {

}
.inputs {
/*    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 40px;*/
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to left, -fx-darker, -fx-lighter);
    -fx-border-style: solid;
    -fx-border-radius: 40px;
    -fx-padding: 0px 10px;
    -fx-background-radius: 40px;
}
.botao{
    -fx-background-color: linear-gradient(to right, -fx-lighter, -fx-darker);
    -fx-background-radius: 40px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to left, -fx-darker, -fx-lighter);
    -fx-border-style: solid;
    -fx-border-radius: 40px;
    -fx-padding: 0px 10px;
}