.mainFxmlClass {

}
.pesquisar {
    -fx-border-color: linear-gradient(to left, -fx-darker, -fx-lighter);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 40px;
}
.irPara {
    -fx-border-color: -fx-ir-para;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 25px;
}

.imagem, #emprestimos .table-column {
    -fx-alignment: center ;
}

#autores .table-column, #generos .table-column{
  -fx-alignment: center;
  -fx-font-size: 17px;
}