/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.buttons {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}
.label_pagina_atual_e_select {
    -fx-background-color: white;
    -fx-border-radius: 40px;
    -fx-text-fill: transparent;
}
.background {
    -fx-background-color: linear-gradient(to bottom, #EA5459, #F7BA2C);
    /*-fx-border-radius: 40px;*/
    -fx-text-fill: white;
}
.label_especial {
    -fx-background-color: rgba(0,0,0, .25);
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}

.side-bar-ativo {
    -fx-background-color: rgba(255, 255, 255, .90);
    -fx-text-fill: linear-gradient(to bottom, #EA5459, #F7BA2C);
    -fx-background-radius: 40px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}
.login-ativo {
    -fx-background-color: rgba(255, 255, 255, .90);
    -fx-text-fill: linear-gradient(to bottom, #EA5459, #F7BA2C);
    -fx-background-radius: 0px;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}